<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'blog-home'%}">Tibebe's Blog Site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
          </div>
          <!-- Navbar Right Side -->
          {% if user.is_authenticated %}
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'blog-create' %}">New Post</a>
            <a class="nav-item nav-link" href="{% url 'profile' %}">My Profile</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
          </div>
          {% else %}
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
</header>